body {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.input-container {
  display: flex;
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

.input-container input {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 4px 0 0 4px;
  padding: 4px 8px;
}

.input-container button {
  width: 100px;
}

.result-list {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.result {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 16px 20px;
  width: 400px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 16px;
  align-items: flex-start;
  box-sizing: border-box;
}

.result p {
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
}

.result .star {
  margin-left: auto;
}

.result-title {
  display: flex;
  align-items: end;
  width: 100%;
}

.result p:last-child {
  margin-bottom: 0;
}

.btn {
  color: white;
  border-radius: 4px;
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  background-color: #4167ad;
  border: 0;
  transition: linear 0.2s;
}

.btn-search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-search:hover {
  background-color: #375792;
}

.btn-details {
  background-color: #369c36;
  margin-left: auto;
}
.btn-details:hover {
  background-color: #2a862a;
}

.backdrop {
  background-color: rgba(50, 50, 50, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.modal {
  padding: 16px;
  border-radius: 4px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 600px;
  max-width: 90vw;
  max-height: 90vh;
  display: none;
}
.modal.visible,
.backdrop.visible {
  display: block;
}

.star {
  background: gray;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 16px;
  width: 16px;
}